@import "fonts.scss";

$text-xsmall: 16px;
$text-small: 18px;
$text-xmedium: 20px;
$text-medium: 24px;
$text-big: 48px;

$default-border-radius: 32px;
$medium-border-radius: 40px;
$big-border-radius: 100px;

$text-default-color: #ffffff;
$text-second-color: #0A071A;
$text-low-price-color: #F13164;
$text-high-price-color: #31CCB0;
